<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>La Oreja de Morfeo&trade;</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/darkstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<img src="/img/icon.png" width="100" class="pull-left" />
				<h1 class="text-warning">
					La Oreja de Morfeo&trade;<br> <small>Tu banda de pop español
						bautizada en segundos</small>
				</h1>
				<blockquote class="pull-right text-warning">
					¡Ahora con Bootstrap!<small>El Administrador</small>
				</blockquote>
			</div>
		</div>
		<div class="hero-unit span10">
			<div class="row">
				<div class="span10">
					<h3>{% if numero == 1%} Tu grupo se llamará{% else %} Elige tu
						preferido{% endif %}:</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="span2"></div>
				<div class="span6">
					{% if numero == 1 %}
					<h2 class="text-info text-center">{{nombres[0]}}</h2>
					{% else %}
					<ol>
						{% for nombre in nombres %}
						<li><h3 class="text-info">{{nombre}}</h3></li> {% endfor %}
					</ol>
					{% endif %}
				</div>
				<div class="span2"></div>
			</div>
		</div>
	</div>
	<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<form action="/" class="form-horizontal">
				<fieldset>
					<legend>Opciones del generador</legend>
					<div class="control-group">
						<label for="numero" class="control-label">Número de
							nombres</label>
						<div class="controls">
							<input type="text" name="numero" value="{{numero}}"
								placeholder="Ejemplo: 1" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox"> <input type="checkbox"
								name="cortos" {% if cortos %}checked{% endif %}>
								Nombres cortos
							</label> <label class="checkbox"> <input type="checkbox"
								name="largos" {% if largos %}checked{% endif %}>
								Nombres largos
							</label> <label class="checkbox"> <input type="checkbox"
								name="compuestos" {% if compuestos %}checked{% endif %}>
								Nombres compuestos
							</label>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label"></label>
						<div class="controls">
							<button class="btn btn-primary btn-large" type="submit">Generar!</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	</div>
	<footer class="container">
		{%if DEBUG %}
		<p class="text-error">
			<strong>numero: </strong>{{numero}}
		</p>
		<p class="text-error">
			<strong>cortos: </strong>{{cortos}}
		</p>
		<p class="text-error">
			<strong>largos: </strong>{{largos}}
		</p>
		<p class="text-error">
			<strong>compuestos: </strong>{{compuestos}}
		</p>
		{% endif %}
		<p class="text-info"><i class="icon-twitter"></i><a href="http://www.twitter.com/oscar_dr">Óscar Gómez Alcañiz, &copy;2013</a></p>
	</footer>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>